a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: var(--white);
  overflow-x: hidden !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  --secondary: #4a61dd;
  --black: #1e3349;
  --white: #fff;
  --light: #f3f4f7;
  --dark: #1e283e;
}
.darkmode,
body {
  --primary: #003f49;
}
.darkmode {
  --secondary: #3c5dd9;
  --black: #fff;
  --light: #1e283e;
  --white: #1e3349;
  --dark: #f3f4f7;
}
@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/FiraCode-Regular.ttf);
}
.navbar-container {
  color: var(--black);
  font-family: Fira Code, sans-serif;
  max-width: 1200px;
  position: relative;
}
.navbar-container .responsive-logo-container {
  display: none;
}
.navbar-container .hamburger-open-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  display: none;
  z-index: 5;
}
.navbar-container .navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transition: all 0.5s ease;
  background-color: var(--light);
}
.navbar-container .navbar-nav.scroll {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}
.navbar-container .navbar-nav-logo-container img {
  width: 80px;
  height: auto;
}
.navbar-container .navbar-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.navbar-container .navbar-nav-list-item.active {
  font-weight: 700;
}
.navbar-container .navbar-nav-list-item-link {
  text-decoration: none;
  font-size: 13px;
  color: var(--black);
}
.navbar-container .navbar-nav-search-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container .navbar-nav-search-button-image {
  width: 25px;
  height: auto;
}
.navbar-container .navbar-nav-login-button {
  transition: all 0.35s ease;
}
.navbar-container .navbar-nav-login-button a {
  padding: 10px 35px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.navbar-container .navbar-nav-login-button:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 850px) {
  .navbar-container {
    overflow: hidden !important;
  }
  .navbar-container .responsive-logo-container {
    display: block;
  }
  .navbar-container .responsive-logo-container img {
    width: 80px;
    height: auto;
    margin-left: 30px;
  }
  .navbar-container .hamburger-open-close {
    display: block;
    cursor: pointer;
    z-index: 6;
  }
  .navbar-container .navbar-nav {
    gap: 30px;
    display: none;
    height: 100%;
    max-width: 100%;
  }
  .navbar-container .navbar-nav.active {
    display: flex;
    flex-direction: column;
  }
  .navbar-container .navbar-nav-list {
    flex-direction: column;
  }
  .navbar-container .navbar-nav-logo-container img {
    display: none;
  }
}
.footer-container {
  font-family: DM Sans, sans-serif;
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #000;
}
.footer-container-rentnepal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 20px;
}
.footer-container-rentnepal .footer-container-rentnepal-image {
  width: 100px;
  height: auto;
}
.footer-container-rentnepal p {
  font-size: 14px;
  white-space: normal;
  opacity: 0.7;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-container-rentnepal .social-media {
  display: flex;
  gap: 20px;
}
.footer-container-rentnepal .social-media a {
  text-decoration: none;
}
.footer-container-rentnepal .social-media a img {
  width: 30px;
  height: auto;
}
.footer-container-columns {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.footer-container-columns-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-container-columns-column h1 {
  font-size: 18px;
  font-weight: 700;
}
.footer-container-columns-column-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container-columns-column-list-item-link {
  color: var(--black);
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
  transition: all 0.35s ease;
}
.footer-container-columns-column-list-item-link:hover {
  opacity: 1;
}
.copyright {
  margin: 20px auto;
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container-rentnepal {
    width: 500px;
  }
  .footer-container-columns {
    margin: 20px auto;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .footer-container-columns {
    gap: 50px;
    display: grid;
    grid-template-columns: 100%;
  }
}
body {
  overflow-x: hidden;
}
.ad-display-section {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px;
  padding-bottom: 40px;
  width: 80%;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.ad-display-section h1 {
  text-align: center;
  font-size: 32px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  color: var(--black);
}
.ad-display-section .logo-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ad-display-section .logo-section-logo {
  width: auto;
  height: 80px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.main-section {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 20px;
}
.main-section .navigation-buttons .main-section-prev {
  left: 10px;
}
.main-section .navigation-buttons .main-section-next,
.main-section .navigation-buttons .main-section-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;
  background-color: #000;
  padding: 10px;
  cursor: pointer;
}
.main-section .navigation-buttons .main-section-next {
  right: 10px;
}
.main-section .slide-2 .main-image img {
  transform: rotate(45deg);
}
.main-section .slider {
  position: absolute;
  opacity: 0;
  transition: all 0.35s ease;
  height: 100%;
  width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}
.main-section .slider.active {
  opacity: 1;
}
.main-section .slider .main-image img {
  height: 250px;
  width: auto;
  background: none;
}
.main-section .slider .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-section .slider .content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 4rem;
  font-family: DM Serif Display, sans-serif;
}
.main-section .slider .content p {
  font-size: 16px;
  line-height: 1.8rem;
  font-weight: 400;
  font-family: Fira Code, sans-serif;
  opacity: 0.7;
}
.main-section .slider .content .button-container {
  z-index: 3;
  margin-top: 20px;
  height: 70px;
  cursor: pointer;
  transition: all 0.35s ease;
}
.main-section .slider .content .button-container:hover {
  transform: translateY(-3px);
}
.main-section .slider .content .button-container .main-section-button {
  padding: 12.5px 50px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border: none;
  font-family: Fira Code, sans-serif;
}
@media only screen and (max-width: 1100px) {
  .main-section .slider {
    max-width: 800px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
  }
  .main-section .slider .main-image img {
    height: 200px;
    width: auto;
    background: none;
  }
  .main-section .slider .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .main-section .slider .content h1 {
    font-size: 36px;
    line-height: 3.5rem;
  }
  .main-section .slider .content p {
    font-size: 14px;
    line-height: 1.6rem;
  }
}
@media only screen and (max-width: 850px) {
  .main-section .slider {
    margin: auto;
    flex-direction: column;
    max-width: 90%;
    left: 45%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }
  .main-section .slider .main-image img {
    height: 200px;
    width: auto;
    background: none;
  }
  .main-section .slider .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .main-section .slider .content h1 {
    font-size: 36px;
    line-height: 3.5rem;
    text-align: center;
  }
  .main-section .slider .content p {
    font-size: 14px;
    line-height: 1.6rem;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .main-section .slider {
    margin: auto;
    flex-direction: column;
    max-width: 90%;
    left: 50%;
    justify-content: center;
    align-items: center;
  }
  .main-section .slider .main-image img {
    height: 150px;
    width: auto;
    background: none;
  }
  .main-section .slider .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .main-section .slider .content h1 {
    font-size: 36px;
    line-height: 3.5rem;
    text-align: center;
  }
  .main-section .slider .content p {
    font-size: 14px;
    line-height: 1.6rem;
    text-align: center;
  }
}
.how-rent-nepal-works {
  margin-top: 50px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.how-rent-nepal-works-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.how-rent-nepal-works-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 16px;
  opacity: 0.5;
}
.how-rent-nepal-works-card-containers {
  margin: 50px auto;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}
.how-rent-nepal-works-card-containers-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 100%;
}
.how-rent-nepal-works-card-containers-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-rent-nepal-works-card-containers-card-image-container img {
  background-color: var(--white);
  padding: 15px;
  width: 30px;
  height: auto;
  border-radius: 10px;
}
.how-rent-nepal-works-card-containers-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  gap: 20px;
  font-family: Fira Code, sans-serif;
}
.how-rent-nepal-works-card-containers-card-content-head {
  font-size: 20px;
  font-weight: 700;
  font-family: DM Serif Display, sans-serif;
}
.how-rent-nepal-works-card-containers-card-content-para {
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
}
@media screen and (max-width: 800px) {
  .how-rent-nepal-works {
    max-width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .how-rent-nepal-works {
    max-width: 80%;
  }
  .how-rent-nepal-works-card-containers {
    flex-direction: column;
  }
}
.why-choose-us {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.why-you-should-choose-us {
  display: flex;
  max-width: 80%;
  margin: 50px auto 0;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.why-you-should-choose-us-image-container img {
  width: 450px;
  height: auto;
}
.why-you-should-choose-us-content {
  font-family: Fira Code, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.why-you-should-choose-us-content-span {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.3;
}
.why-you-should-choose-us-content-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  font-family: DM Serif Display, sans-serif;
}
.why-you-should-choose-us-content-para {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
  line-height: 1.25rem;
}
.why-you-should-choose-us-content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.why-you-should-choose-us-content-list-item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.why-you-should-choose-us-content-list-item p {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
  line-height: 1.25rem;
}
.why-you-should-choose-us-content-list-item img {
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
}
@media screen and (max-width: 1050px) {
  .why-you-should-choose-us {
    max-width: 90%;
  }
  .why-you-should-choose-us-image-container img {
    width: 350px;
    height: auto;
  }
}
@media screen and (max-width: 850px) {
  .why-you-should-choose-us {
    max-width: 80%;
    flex-direction: column;
  }
  .why-you-should-choose-us-image-container img {
    width: 350px;
    height: auto;
  }
}
.trending-products {
  margin: 100px auto;
}
.trending-products.trending-products-next {
  margin: 180px auto;
}
.trending-products-top-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.trending-products-top-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.trending-products-top-link {
  justify-content: flex-end;
  float: right;
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  transition: all 0.35s ease;
}
.trending-products-top-link:hover {
  transform: translateY(-3px);
}
.trending-products-card-container {
  position: relative;
}
.trending-products-card-container .navigations .prev {
  left: 20px;
}
.trending-products-card-container .navigations .next,
.trending-products-card-container .navigations .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.trending-products-card-container .navigations .next {
  right: 20px;
}
.trending-products-card-container-inner {
  display: flex;
  transition: all 0.35s ease;
  margin: 30px 0;
}
.trending-products-card-container-inner-card {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 100%;
  height: 200px;
  transition: all 0.9s ease;
}
.trending-products-card-container-inner-card-content {
  padding: 10px;
  border-right: 0.3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trending-products-card-container-inner-card-content h1 {
  font-family: Fira Code, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 20px;
}
.trending-products-card-container-inner-card-content img {
  height: 150px;
  width: auto;
}
.trending-products-card-container-inner-card-content-rent-now {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 15px;
  align-items: center;
}
.trending-products-card-container-inner-card-content-rent-now span {
  font-family: Fira Code, sans-serif;
  white-space: normal;
  font-size: 13px;
  opacity: 0.6;
  margin: 15px 0;
}
.trending-products-card-container-inner-card-content-rent-now a {
  padding: 10px 25px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-family: Fira Code, sans-serif;
  transition: all 0.35s ease;
}
.trending-products-card-container-inner-card-content-rent-now a:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 1000px) {
  .trending-products-card-container-inner-card {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 500px) {
  .trending-products-card-container-inner-card {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
.what-clients-say-about-us {
  max-width: 90%;
  min-width: 90%;
  margin: 20px auto;
}
.what-clients-say-about-us-top {
  margin-bottom: 50px;
}
.what-clients-say-about-us-top-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.what-clients-say-about-us-top-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.what-clients-say-about-us-cards-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}
.what-clients-say-about-us-cards-container-card {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: var(--white);
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
}
.what-clients-say-about-us-cards-container-card-image img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
.what-clients-say-about-us-cards-container-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.what-clients-say-about-us-cards-container-card-content h1 {
  font-family: DM Serif Display, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.what-clients-say-about-us-cards-container-card-content p {
  font-family: Fira Code, sans-serif;
  opacity: 0.8;
  font-size: 12px;
  white-space: normal;
  line-height: 16px;
}
@media screen and (max-width: 1000px) {
  .what-clients-say-about-us-cards-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
  }
}
@media screen and (max-width: 500px) {
  .what-clients-say-about-us-cards-container-card {
    flex-direction: column;
  }
}
.frequently-asked-questions {
  width: 800px;
  max-width: 80%;
  margin: 80px auto;
}
.frequently-asked-questions-top {
  margin-bottom: 50px;
}
.frequently-asked-questions-top-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.frequently-asked-questions-top-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.frequently-asked-questions-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Fira Code, sans-serif;
}
.frequently-asked-questions-main-content-question {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  gap: 20px;
  padding: 25px;
}
.frequently-asked-questions-main-content-question div {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.frequently-asked-questions-main-content-question div span {
  font-size: 24px;
  cursor: pointer;
}
.frequently-asked-questions-main-content-question-head {
  font-size: 18px;
  font-weight: 700;
}
.frequently-asked-questions-main-content-question-para {
  white-space: normal;
  display: none;
}
.frequently-asked-questions-main-content-question-para.active {
  display: block !important;
}
.frequently-asked-questions-bottom {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.frequently-asked-questions-bottom-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.frequently-asked-questions-bottom-head {
  padding: 10px 35px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-family: Fira Code, sans-serif;
}
.frequently-asked-questions-bottom .move {
  transition: all 0.35s ease;
}
.frequently-asked-questions-bottom .move:hover {
  transform: translateY(-3px);
}
.need-helping-renting-online {
  margin: 50px auto;
  background-color: var(--dark);
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  white-space: normal;
}
.need-helping-renting-online p {
  padding: 50px;
}
.login-container {
  width: 350px;
  max-width: 90%;
  margin: 20px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: var(--black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.login-container .incorrect {
  font-family: DM Sans, sans-serif;
  text-align: center;
  font-size: 16px;
}
.login-container .cant-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .cant-login a {
  text-decoration: none;
  color: var(--black);
  text-align: center;
  padding: 10px;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.login-container-heading {
  font-family: DM Serif Display, sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}
.login-container .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.login-container .inputs button,
.login-container .inputs input {
  width: 80%;
  font-family: DM Sans, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding-left: 10px;
}
.login-container .inputs input {
  height: 40px;
  background: var(--white);
  color: var(--black);
  font-weight: 700;
}
.login-container .inputs button {
  height: 35px;
  background: var(--black);
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: calc(80% + 10px);
  font-weight: 700;
}
.login-container .or-text {
  text-align: center;
  font-family: DM Sans, sans-serif;
}
.login-container .platforms {
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.login-container .platforms,
.login-container .platforms button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.login-container .platforms button {
  width: 80%;
  background: none;
  outline: none;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--black);
  font-family: DM Sans, sans-serif;
  cursor: pointer;
  transition: all 0.35s ease;
}
.login-container .platforms button:hover {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}
.login-container .platforms img {
  width: 20px;
  height: auto;
}
.main-content {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 100px auto;
}
.main-content-sidebar {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-content-sidebar-head {
  font-family: DM Serif Display, sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main-content-sidebar-search {
  display: flex;
  flex-direction: column;
  font-family: DM Sans, sans-serif;
  gap: 15px;
}
.main-content-sidebar-search-head {
  font-size: 18px;
  font-weight: 700;
}
.main-content-sidebar-search input {
  padding: 7px 10px;
  background: none;
  outline: none;
  font-family: DM Sans, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.main-content-sidebar-categories-head {
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.main-content-sidebar-categories-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
}
.main-content-sidebar-categories-list-item {
  cursor: pointer;
}
.main-content .browse-products-top-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.main-content .browse-products-top-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.main-content .browse-products-top-link {
  justify-content: flex-end;
  float: right;
  text-decoration: none;
  color: var(--dark);
  font-weight: 700;
  font-family: DM Sans, sans-serif;
  transition: all 0.35s ease;
  margin-right: 10px;
}
.main-content .browse-products-top-link:hover {
  transform: translateY(-3px);
}
.main-content .browse-products-card-container {
  position: relative;
}
.main-content .browse-products-card-container-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 0.35s ease;
  margin: 30px 0;
  row-gap: 120px;
  column-gap: 10px;
}
.main-content .browse-products-card-container-inner-card {
  height: 200px;
  transition: all 0.9s ease;
  display: block;
}

.main-content .browse-products-card-container-inner-card-content {
  padding: 10px;
  border-right: 0.3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content .browse-products-card-container-inner-card-content h1 {
  font-family: Fira Code, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 20px;
}
.main-content .browse-products-card-container-inner-card-content img {
  height: 150px;
  width: auto;
}
.main-content .browse-products-card-container-inner-card-content-rent-now {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 15px;
  align-items: center;
}
.main-content .browse-products-card-container-inner-card-content-rent-now span {
  font-family: Fira Code, sans-serif;
  white-space: normal;
  font-size: 13px;
  opacity: 0.6;
  margin: 15px 0;
}
.main-content .browse-products-card-container-inner-card-content-rent-now a {
  padding: 10px 25px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-family: Fira Code, sans-serif;
  transition: all 0.35s ease;
}
.main-content
  .browse-products-card-container-inner-card-content-rent-now
  a:hover {
  transform: translateY(-3px);
}
@media screen and (max-width: 1000px) {
  .browse-products-card-container-inner-card {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 500px) {
  .browse-products-card-container-inner-card {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}
.contact-us-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.contact-us-container-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-us-container-left-heading {
  font-family: DM Serif Display, sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.contact-us-container-left-paragraph {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.6;
}
.contact-us-container-left-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us-container-left-list div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-us-container-left-list div img {
  width: 30px;
  height: auto;
}
.contact-us-container-left-list div span {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  opacity: 0.8;
  font-weight: 700;
}
.contact-us-container-right-form {
  display: grid;
  grid-template-areas: "a b" "c d" "e e" "f f";
  gap: 30px;
  align-items: center;
}
.contact-us-container-right-form p {
  display: flex;
  flex-direction: column;
}
.contact-us-container-right-form p label {
  font-family: DM Sans, sans-serif;
  font-size: 13px;
  opacity: 0.7;
  font-weight: 700;
  padding-bottom: 5px;
}
.contact-us-container-right-form p input,
.contact-us-container-right-form p textarea {
  padding: 7px 10px;
  background: none;
  outline: none;
  font-family: DM Sans, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.contact-us-container-right-form p input {
  width: 200px;
}
.contact-us-container-right-form p button {
  background-color: var(--black);
  color: var(--white);
  font-family: DM Sans, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}
.contact-us-container-right-form .firstname {
  grid-area: a;
}
.contact-us-container-right-form .lastname {
  grid-area: b;
}
.contact-us-container-right-form .email {
  grid-area: c;
}
.contact-us-container-right-form .phone {
  grid-area: d;
}
.contact-us-container-right-form .message {
  grid-area: e;
}
.contact-us-container-right-form .button {
  grid-area: f;
}
@media screen and (max-width: 940px) {
  .contact-us-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .contact-us-container-right-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-us-container-right-form button,
  .contact-us-container-right-form input,
  .contact-us-container-right-form textarea {
    width: 200px;
  }
}
.about-us-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-us-section-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.about-us-section-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.about-us-section-cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 30px;
}
.about-us-section-cards-container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}
.about-us-section-cards-container-card-profile {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-us-section-cards-container-card-name {
  font-family: DM Sans, sans-serif;
  text-align: center;
  margin-bottom: 8px;
}
.about-us-section-cards-container-card-position {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  opacity: 0.7;
}
.about-us-section-cards-container-card-socials {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.about-us-section-cards-container-card-socials img {
  width: 30px;
  height: auto;
}
.explore-shops-main-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore-shops-main-content-top {
  margin-top: 80px;
}
.explore-shops-main-content-top-heading {
  font-family: DM Serif Display, sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
}
.explore-shops-main-content-top-paragraph {
  text-align: center;
  font-family: Fira Code, sans-serif;
  font-size: 14px;
  opacity: 0.5;
}
.explore-shops-main-content-card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 40px;
}
.explore-shops-main-content-card-container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}
.explore-shops-main-content-card-container-card-image {
  width: auto;
  height: 100px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.explore-shops-main-content-card-container-card-content {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  opacity: 0.7;
}
.explore-shops-main-content-card-container-card-button {
  padding: 10px 35px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.35s ease;
  font-family: DM Sans, sans-serif;
}
.explore-shops-main-content-card-container-card-button:hover {
  transform: translateY(-3px);
}
.profile-main-content {
  display: flex;
  margin-top: 80px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.profile-main-content-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
  padding: 20px;
}
.profile-main-content-profile-head {
  font-size: 20px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
}
.profile-main-content-profile span {
  font-family: Fira Code, sans-serif;
}
.profile-main-content-profile img {
  width: 300px;
}
.profile-main-content-orders {
  background-color: var(--white);
  padding: 20px;
}
.profile-main-content-orders-head {
  font-size: 20px;
  font-weight: 700;
  font-family: DM Sans, sans-serif;
}
.profile-main-content-orders main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 10px;
}
.profile-main-content-orders-order-card-content {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-main-content-orders-order-card-content h1 {
  font-family: Fira Code, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 20px;
}
.profile-main-content-orders-order-card-content img {
  height: 150px;
  width: auto;
}
.profile-main-content-orders-order-card-content-rent-now {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 15px;
  align-items: center;
}
.profile-main-content-orders-order-card-content-rent-now span {
  font-family: Fira Code, sans-serif;
  white-space: normal;
  font-size: 13px;
  opacity: 0.6;
  margin: 15px 0;
}
.profile-main-content-orders-order-card-content-rent-now a {
  padding: 10px 25px;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-family: Fira Code, sans-serif;
  transition: all 0.35s ease;
}
.profile-main-content-orders-order-card-content-rent-now a:hover {
  transform: translateY(-3px);
}
